## Load Libraries

In [1]:
import pandas as pd
import numpy as np

## Load total CSV after downloading from STRAVA API

In [11]:
# Load it into a Dataframe using pandas
path = 'python_data/strava_angelos_20170812122309.csv'
df = pd.read_csv(path)
df.head()

,act_startDate,timestamp,time,act_id,act_name,distance,altitude,velocity_smooth,moving,grade_smooth,heartrate,lat,long
0,2017-07-05 13:35:37+00:00,2017-07-05 13:35:37+00:00,0,1068864142,Afternoon Ride,0.0,24.3,0.0,False,-1.4,85,59.442823,24.623962
1,2017-07-05 13:35:37+00:00,2017-07-05 13:35:38+00:00,1,1068864142,Afternoon Ride,0.0,24.3,0.0,False,-1.9,85,59.442821,24.623959
2,2017-07-05 13:35:37+00:00,2017-07-05 13:35:46+00:00,9,1068864142,Afternoon Ride,20.8,24.0,2.3,True,-2.2,85,59.442884,24.623628
3,2017-07-05 13:35:37+00:00,2017-07-05 13:35:47+00:00,10,1068864142,Afternoon Ride,20.8,23.9,2.3,False,-2.3,83,59.442828,24.623551
4,2017-07-05 13:35:37+00:00,2017-07-05 13:35:50+00:00,13,1068864142,Afternoon Ride,27.5,23.7,2.3,True,-3.1,80,59.442920,24.623511

In [4]:
# Comparing with test data to spot any difference
path_test = 'python_data/strava_angelos_test.csv'
df_test = pd.read_csv(path_test)
df_test.head()

,act_startDate,timestamp,act_id,act_name,altitude,distance,grade_smooth,heartrate,moving,time,velocity_smooth,lat,long
0,2017-03-27 06:52:47+00:00,2017-03-27 06:52:47+00:00,916298883,Morning Ride,8.0,0.0,3.2,NaN,False,0,0.0,55.674874,12.592714
1,2017-03-27 06:52:47+00:00,2017-03-27 06:52:57+00:00,916298883,Morning Ride,8.0,4.4,5.1,NaN,True,10,0.4,55.674910,12.592685
2,2017-03-27 06:52:47+00:00,2017-03-27 06:52:59+00:00,916298883,Morning Ride,8.3,9.3,5.4,NaN,True,12,0.8,55.674938,12.592625
3,2017-03-27 06:52:47+00:00,2017-03-27 06:53:01+00:00,916298883,Morning Ride,8.8,15.6,6.3,NaN,True,14,1.1,55.674979,12.592555
4,2017-03-27 06:52:47+00:00,2017-03-27 06:53:02+00:00,916298883,Morning Ride,9.0,18.6,6.0,NaN,True,15,2.8,55.674997,12.592519

## Useful Functions

In [5]:
# Trim data per specific time threshold
def trimmer(time_df, thresh):
    cur = None
    for i, item in time_df.iteritems():
        if (cur is None) or (item - cur >= thresh):
            yield i
            cur = item

In [6]:
# Create a string format for the Day column
def dayConverter(s):
    # Set date formats
    time_format = "%Y-%m-%d"

    # Convert from period to string
    converted = s.strftime(time_format)
    
    return converted

In [7]:
# Add distance to all activities
def distanceEnhancer(added,x):
    return x + added

In [8]:
# Transforms seconds to hours
def secToHours(d):
    # Create the rule
    seconds = d
    minutes, seconds = divmod(seconds, 60)
    hours, minutes = divmod(minutes, 60)
    
    #Convert all to string
    seconds = str(seconds)
    minutes = str(minutes)
    hours = str(hours)
    
    #Add 0(zeros) for single digit numbers
    if len(seconds)==1:
        seconds = '0'+seconds
    if len(minutes)==1:
        minutes = '0'+minutes
    if len(hours)==1:
        hours = '0'+hours
    return hours+':'+minutes+':'+seconds

## Modify the data

In [12]:
# Convert to act_StartDate to datetime
df['act_startDate'] = pd.to_datetime(df['act_startDate'])
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Keep only date as a period in a seperate column
df['day'] = pd.DatetimeIndex(df['act_startDate']).to_period('D')

# Convert days to strings
df['day'] = df['day'].apply(lambda x: dayConverter(x))

# Sort df by ascending day and timestamp
df = df.sort_values(by=['day','timestamp'],ascending=[True,True])

# Check main df
df.head()

,act_startDate,timestamp,time,act_id,act_name,distance,altitude,velocity_smooth,moving,grade_smooth,heartrate,lat,long,day
0,2017-07-05 13:35:37,2017-07-05 13:35:37,0,1068864142,Afternoon Ride,0.0,24.3,0.0,False,-1.4,85,59.442823,24.623962,2017-07-05
1,2017-07-05 13:35:37,2017-07-05 13:35:38,1,1068864142,Afternoon Ride,0.0,24.3,0.0,False,-1.9,85,59.442821,24.623959,2017-07-05
2,2017-07-05 13:35:37,2017-07-05 13:35:46,9,1068864142,Afternoon Ride,20.8,24.0,2.3,True,-2.2,85,59.442884,24.623628,2017-07-05
3,2017-07-05 13:35:37,2017-07-05 13:35:47,10,1068864142,Afternoon Ride,20.8,23.9,2.3,False,-2.3,83,59.442828,24.623551,2017-07-05
4,2017-07-05 13:35:37,2017-07-05 13:35:50,13,1068864142,Afternoon Ride,27.5,23.7,2.3,True,-3.1,80,59.442920,24.623511,2017-07-05

## Create a day number flag for keeping track of the trip days    
## Create an iteration number flag for keeping track of activities per day

In [13]:
# Create helper dataframe with unique days
df_helper = df.groupby(by=['day','act_id']).count().iloc[:,0].reset_index().filter(items=['day','act_id'])

# Create columns for iter_no(per activity) and day_no(per day)
days = list(set(df_helper['day']))
days.sort()
day_no = list()
iter_no = list()
for index,day in enumerate(days):
    counter=1
    for dfday in df_helper['day']:
        if dfday == day:
            iter_no.append(counter)
            day_no.append(index+1)
            counter+=1

df_helper['day_no'] = pd.Series(day_no).values
df_helper['iter_no'] = pd.Series(iter_no).values      

df_helper

            day      act_id  day_no  iter_no
0    2017-07-05  1068864142       1        1
1    2017-07-05  1069096779       1        2
2    2017-07-06  1070399442       2        1
3    2017-07-06  1070439262       2        2
4    2017-07-06  1071012380       2        3
5    2017-07-07  1071696894       3        1
6    2017-07-07  1071957381       3        2
7    2017-07-07  1072056824       3        3
8    2017-07-07  1072169052       3        4
9    2017-07-07  1072858110       3        5
10   2017-07-08  1073130052       4        1
11   2017-07-08  1073294255       4        2
12   2017-07-08  1073617902       4        3
13   2017-07-08  1073792627       4        4
14   2017-07-08  1073979848       4        5
15   2017-07-09  1075088146       5        1
16   2017-07-09  1075349186       5        2
17   2017-07-09  1075682496       5        3
18   2017-07-09  1075864319       5        4
19   2017-07-10  1076736468       6        1
20   2017-07-10  1076818665       6        2
21   2017-07-10  1077150917       6        3
22   2017-07-10  1077293486       6        4
23   2017-07-11  1078023527       7        1
24   2017-07-11  1078023840       7        2
25   2017-07-11  1078304075       7        3
26   2017-07-11  1078406906       7        4
27   2017-07-12  1079751852       8        1
28   2017-07-12  1079752391       8        2
29   2017-07-12  1079950939       8        3
..          ...         ...     ...      ...
91   2017-07-26  1102575117      22        2
92   2017-07-26  1102575686      22        3
93   2017-07-26  1102576612      22        4
94   2017-07-27  1103647043      23        1
95   2017-07-27  1103699117      23        2
96   2017-07-27  1103763168      23        3
97   2017-07-27  1104165317      23        4
98   2017-07-27  1104268729      23        5
99   2017-07-28  1105645348      24        1
100  2017-07-28  1105647054      24        2
101  2017-07-28  1105647507      24        3
102  2017-07-28  1105717457      24        4
103  2017-07-28  1106881696      24        5
104  2017-07-29  1106880909      25        1
105  2017-07-29  1106882447      25        2
106  2017-07-29  1106883290      25        3
107  2017-07-29  1107075765      25        4
108  2017-07-30  1108627839      26        1
109  2017-07-30  1108998444      26        2
110  2017-07-30  1109221729      26        3
111  2017-07-30  1110450382      26        4
112  2017-07-31  1110450804      27        1
113  2017-07-31  1110451328      27        2
114  2017-07-31  1110451824      27        3
115  2017-07-31  1110452265      27        4
116  2017-07-31  1110714526      27        5
117  2017-08-01  1111687376      28        1
118  2017-08-01  1111904420      28        2
119  2017-08-01  1112072352      28        3
120  2017-08-01  1112199804      28        4

[121 rows x 4 columns]

In [14]:
# Merge flagger with the main dataframe
df = pd.merge(df,df_helper,on=['day','act_id'])

# Check main df
df.head()

,act_startDate,timestamp,time,act_id,act_name,distance,altitude,velocity_smooth,moving,grade_smooth,heartrate,lat,long,day,day_no,iter_no
0,2017-07-05 13:35:37,2017-07-05 13:35:37,0,1068864142,Afternoon Ride,0.0,24.3,0.0,False,-1.4,85,59.442823,24.623962,2017-07-05,1,1
1,2017-07-05 13:35:37,2017-07-05 13:35:38,1,1068864142,Afternoon Ride,0.0,24.3,0.0,False,-1.9,85,59.442821,24.623959,2017-07-05,1,1
2,2017-07-05 13:35:37,2017-07-05 13:35:46,9,1068864142,Afternoon Ride,20.8,24.0,2.3,True,-2.2,85,59.442884,24.623628,2017-07-05,1,1
3,2017-07-05 13:35:37,2017-07-05 13:35:47,10,1068864142,Afternoon Ride,20.8,23.9,2.3,False,-2.3,83,59.442828,24.623551,2017-07-05,1,1
4,2017-07-05 13:35:37,2017-07-05 13:35:50,13,1068864142,Afternoon Ride,27.5,23.7,2.3,True,-3.1,80,59.442920,24.623511,2017-07-05,1,1

## Create cumulative distance/time when changing activity

Keep the last row of each iteration of the same day and add its number to all the rest of the next day and do the same for the next activity

In [15]:
# Transform distance to cumulative distance when changing activity (per day)
for day in days:
    act_day = list(df_helper[df_helper['day']==day]['act_id'])
    if len(act_day)>1:
        last_dist = []
        last_time = []
        for i,act in enumerate(act_day):
            adding_dist = float(df[(df['day']==day) & (df['act_id']==act)]['distance'].iloc[-1:]) # +1
            adding_time = int(df[(df['day']==day) & (df['act_id']==act)]['time'].iloc[-1:]) # +1 if problem with division
            if i == 0:
                last_dist.append(adding_dist)
                last_time.append(adding_time)
            else:
                adding_dist_plus = adding_dist+last_dist[i-1]
                adding_time_plus = adding_time+last_time[i-1]
                last_dist.append(adding_dist_plus)
                last_time.append(adding_time_plus)
                df.loc[(df['day']==day) & (df['act_id']==act),'distance'] = df[(df['day']==day) & (df['act_id']==act)]['distance'].apply(
                    lambda x: distanceEnhancer(last_dist[i-1],x))
                df.loc[(df['day']==day) & (df['act_id']==act),'time'] = df[(df['day']==day) & (df['act_id']==act)]['time'].apply(
                    lambda x: distanceEnhancer(last_time[i-1],x))
        
#new = df.groupby(by=['day','act_id']).count().iloc[:,0].reset_index().filter(items=['day','act_id'])

## Create total elevation per day

Create total elevation per day by summing the absolute difference between each consecutive point way before trimming.

In [18]:
# Create total elevation per day dataframe
result = {}
for day in days:
    temp_alt_df = df[df['day'] == day]['altitude']
    deltas = []
    for i in range(len(temp_alt_df)):
        if i>0:
            delta = temp_alt_df.iloc[i]-temp_alt_df.iloc[i-1]
            if delta>0:
                deltas.append(delta)
    result[day] = sum(deltas)
    
# Create dataframe from result dictionary
alt_ttl_df = pd.DataFrame(result.items(), columns=['day', 'elevation_gain'])
alt_ttl_df

           day  elevation_gain
0   2017-07-07           665.8
1   2017-07-06           552.5
2   2017-07-05           341.3
3   2017-08-01          1543.5
4   2017-07-29          1192.1
5   2017-07-28          1069.2
6   2017-07-25           643.8
7   2017-07-24          1289.7
8   2017-07-27           711.9
9   2017-07-26           373.2
10  2017-07-21           949.1
11  2017-07-20          1169.1
12  2017-07-23          1208.0
13  2017-07-22           939.8
14  2017-07-09           836.2
15  2017-07-08           689.8
16  2017-07-10           596.2
17  2017-07-11           869.5
18  2017-07-12           741.1
19  2017-07-13           944.7
20  2017-07-14           702.0
21  2017-07-15           751.9
22  2017-07-16           886.2
23  2017-07-17           821.0
24  2017-07-18           639.7
25  2017-07-19          1211.9
26  2017-07-30          1818.8
27  2017-07-31          1408.2

## Create total distance in KM per day

Create total distance in km per day by picking the last value of distance column for each day

In [19]:
temp = {}
for day in days:
    temp_dist_df = df[df['day'] == day]['distance']
    temp[day]=round(temp_dist_df.iloc[-1]/1000,1)

# Create dataframe from temp dictionary
dist_ttl_df = pd.DataFrame(temp.items(), columns=['day', 'ttl_distance'])
dist_ttl_df

           day  ttl_distance
0   2017-07-07         127.7
1   2017-07-06         115.1
2   2017-07-05          52.0
3   2017-08-01         107.8
4   2017-07-29         106.2
5   2017-07-28         114.5
6   2017-07-25          95.7
7   2017-07-24         103.1
8   2017-07-27          95.2
9   2017-07-26          92.5
10  2017-07-21          73.9
11  2017-07-20         122.6
12  2017-07-23         113.7
13  2017-07-22          73.5
14  2017-07-09         120.0
15  2017-07-08         122.2
16  2017-07-10          96.6
17  2017-07-11         111.8
18  2017-07-12          60.2
19  2017-07-13          86.4
20  2017-07-14          89.5
21  2017-07-15          66.4
22  2017-07-16          82.8
23  2017-07-17         117.4
24  2017-07-18          71.7
25  2017-07-19          82.6
26  2017-07-30          87.2
27  2017-07-31         102.2

## Create a speed column km/h

In [20]:
# Create an empty dataframe
speed_df = pd.DataFrame(columns = ['time','distance','speed'])

# Calculate the speed by measuring the m/s times 3.6 for km/h
for day in days:
    temp_speed_df = df[df['day'] == day].filter(items = ['time','distance'])
    speed_list = []
    for i in range(len(temp_speed_df)):
        if i==0:
            speed_list.append(0)
        else:
            dist_delta = float(temp_speed_df['distance'].iloc[i]-temp_speed_df['distance'].iloc[i-1])
            time_delta = int(temp_speed_df['time'].iloc[i]-temp_speed_df['time'].iloc[i-1])
            if time_delta == 0: # handles division error
                speed = speed_list[i-1]
                speed_list.append(speed)
            else:
                speed = (dist_delta/time_delta) * 3.6
                speed_list.append(speed)
    # Add new speed column to temp_speed_df
    temp_speed_df['speed'] = np.asarray(speed_list)
    speed_df = pd.concat([temp_speed_df,speed_df])

Check if the lengths match each other

In [21]:
print len(speed_df)
print len(df)

151130
151130

In [22]:
# Merge speed_df with the main dataframe on indexes
df = df.join(speed_df['speed'], how='outer')

Make sure that the speed makes sense

In [23]:
df[df['speed']>100]

,act_startDate,timestamp,time,act_id,act_name,distance,altitude,velocity_smooth,moving,grade_smooth,heartrate,lat,long,day,day_no,iter_no,speed
21947,2017-07-08 17:37:04,2017-07-08 17:37:24,16039,1073979848,Evening Ride,95960.8,43.0,5.3,True,-0.1,132,56.973557,24.633693,2017-07-08,4,5,200.16
138612,2017-07-30 17:19:09,2017-07-30 17:27:53,20607,1110450382,Evening Activity,84522.8,578.2,18.9,True,-5.0,74,41.971482,27.407865,2017-07-30,26,4,114.84
138613,2017-07-30 17:19:09,2017-07-30 17:27:54,20608,1110450382,Evening Activity,84550.7,577.4,18.9,True,-3.6,74,41.971302,27.407609,2017-07-30,26,4,100.44

In [24]:
df.iloc[21945:21950]

,act_startDate,timestamp,time,act_id,act_name,distance,altitude,velocity_smooth,moving,grade_smooth,heartrate,lat,long,day,day_no,iter_no,speed
21945,2017-07-08 17:37:04,2017-07-08 17:37:20,16035,1073979848,Evening Ride,95886.6,43.1,5.5,True,-0.4,132,56.973675,24.633108,2017-07-08,4,5,16.920
21946,2017-07-08 17:37:04,2017-07-08 17:37:23,16038,1073979848,Evening Ride,95905.2,43.0,5.3,True,-0.2,132,56.973674,24.632801,2017-07-08,4,5,22.320
21947,2017-07-08 17:37:04,2017-07-08 17:37:24,16039,1073979848,Evening Ride,95960.8,43.0,5.3,True,-0.1,132,56.973557,24.633693,2017-07-08,4,5,200.160
21948,2017-07-08 17:37:04,2017-07-08 17:37:25,16040,1073979848,Evening Ride,95964.6,43.0,5.3,True,0.0,132,56.973568,24.633634,2017-07-08,4,5,13.680
21949,2017-07-08 17:37:04,2017-07-08 17:37:30,16045,1073979848,Evening Ride,95983.4,43.0,3.8,True,0.0,132,56.973620,24.633340,2017-07-08,4,5,13.536

In [25]:
# Remove those lines with extremely high speed. There must be inaccurate tracking
df = df[df['speed']<100]

## Create max and average speed per day and heartbeat

In [26]:
# Create table with avg_speed
avg_speed_df = df.groupby('day').mean().reset_index().sort_values(by='day', ascending=1).filter(items=['day','speed'])

# Change column name
avg_speed_df.rename(columns={'speed': 'avg_speed'}, inplace=True)

# Create table with avg_speed
max_speed_df = df.groupby('day').max().reset_index().sort_values(by='day', ascending=1).filter(items=['day','speed'])

# Change column name
max_speed_df.rename(columns={'speed': 'max_speed'}, inplace=True)

# Merge two dfs
ttl_speed_df = pd.merge(avg_speed_df,max_speed_df,on='day')

# Create table with avg_speed
avg_heartbeat_df = df.groupby('day').mean().reset_index().sort_values(by='day', ascending=1).filter(items=['day','heartrate'])

# Change column name
avg_heartbeat_df.rename(columns={'heartrate': 'avg_active_HR'}, inplace=True)

# Merge two dfs
ttl_speed_df = pd.merge(ttl_speed_df,avg_heartbeat_df,on='day')

ttl_speed_df

           day  avg_speed  max_speed  avg_active_HR
0   2017-07-05  17.910134      48.42     122.153682
1   2017-07-06  21.048788      33.00     128.956203
2   2017-07-07  21.055257      76.20     128.630937
3   2017-07-08  22.059354      76.86     134.259271
4   2017-07-09  22.032012      54.36     124.891180
5   2017-07-10  20.316166      43.74     118.918880
6   2017-07-11  20.163304      70.92     127.992278
7   2017-07-12  14.481316      37.62     114.137436
8   2017-07-13  16.303031      99.12     114.023519
9   2017-07-14  19.069724      46.26     109.974267
10  2017-07-15  17.525940      46.62     103.617770
11  2017-07-16  19.387183      56.52     119.654943
12  2017-07-17  19.751936      44.64     119.529467
13  2017-07-18  18.869362      50.40     111.646040
14  2017-07-19  20.446004      49.32     123.830391
15  2017-07-20  22.285115      61.92     133.790120
16  2017-07-21  17.608382      52.38     126.742268
17  2017-07-22  20.818358      59.04     123.595594
18  2017-07-23  19.458913      55.08     118.109824
19  2017-07-24  18.306951      72.72     124.033605
20  2017-07-25  16.407447      50.22     117.302276
21  2017-07-26  21.987068      33.48     120.336824
22  2017-07-27  21.106981      77.76     115.502718
23  2017-07-28  19.661129      72.00     107.308177
24  2017-07-29  21.554674      54.72     122.227470
25  2017-07-30  18.586029      84.60     118.914520
26  2017-07-31  19.131311      64.26     118.473157
27  2017-08-01  17.330787      94.32     108.475151

## Create cumulative distance in string format (hours:minutes:seconds)

In [27]:
# Create column with converted seconds to hours:minutes:seconds format (string)
df['time_form'] = df['time'].apply(lambda x: secToHours(x))

## Keep only selected columns

In [28]:
df = df.filter(items=['day','act_startDate','timestamp','day_no','iter_no','altitude','distance','heartrate','time','time_form','speed','long','lat'])

In [29]:
df.head()

,day,act_startDate,timestamp,day_no,iter_no,altitude,distance,heartrate,time,time_form,speed,long,lat
0,2017-07-05,2017-07-05 13:35:37,2017-07-05 13:35:37,1,1,24.3,0.0,85,0,00:00:00,0.00,24.623962,59.442823
1,2017-07-05,2017-07-05 13:35:37,2017-07-05 13:35:38,1,1,24.3,0.0,85,1,00:00:01,0.00,24.623959,59.442821
2,2017-07-05,2017-07-05 13:35:37,2017-07-05 13:35:46,1,1,24.0,20.8,85,9,00:00:09,9.36,24.623628,59.442884
3,2017-07-05,2017-07-05 13:35:37,2017-07-05 13:35:47,1,1,23.9,20.8,83,10,00:00:10,0.00,24.623551,59.442828
4,2017-07-05,2017-07-05 13:35:37,2017-07-05 13:35:50,1,1,23.7,27.5,80,13,00:00:13,8.04,24.623511,59.442920

## Extract data to a json to check D3

In [25]:
# Exclude this filter. It is just to test NaN functionality at D3
#df = df[(df['day']=='2017-04-11') | (df['day']=='2017-05-01')]

In [31]:
def create_json(df):
    init_list = []
    for i,day in enumerate(days):
        temp = {}
        temp['day'] = day
        temp['ttl_dist'] = dist_ttl_df[dist_ttl_df['day']==day]['ttl_distance'].iloc[0]
        temp['day_no'] = i+1
        temp['path'] = df[df['day'] == day].ix[:,['lat','long']].values.tolist()
        
        #.loc[:,df.columns.isin(['lat','long'])].values.tolist()
        temp['distance'] = [i for i in df[df['day'] == day]['distance']]
        temp['elevation'] = [i for i in df[df['day'] == day]['altitude']]
        temp['elev_gain'] = alt_ttl_df[alt_ttl_df['day']==day]['elevation_gain'].iloc[0]
        temp['speed'] = [i for i in df[df['day'] == day]['speed']]
        temp['avg_speed'] = ttl_speed_df[ttl_speed_df['day']==day]['avg_speed'].iloc[0]
        temp['max_speed'] = ttl_speed_df[ttl_speed_df['day']==day]['max_speed'].iloc[0]
        temp['heartrate'] = [i for i in df[df['day'] == day]['heartrate']]
        temp['avg_active_HR'] = ttl_speed_df[ttl_speed_df['day']==day]['avg_active_HR'].iloc[0]
        temp['time_form'] = [i for i in df[df['day'] == day]['time_form']]

        init_list.append(temp)
    return init_list

In [33]:
# Transform the list of dicts into a json file
with open('../app/interactive_map/original_active.json', 'w') as outfile:  
    json.dump(create_json(df), outfile)

## Trim data points if they are too many to be handled by D3

### If the json from above is too big too be parsed by the browser, trim the df and run the json creation after the trim

In [34]:
df_trim = df.loc[list(trimmer(df['timestamp'], pd.to_timedelta(30, 's')))]

In [35]:
# Check if the trimming is correct
df_trim.head()

,day,act_startDate,timestamp,day_no,iter_no,altitude,distance,heartrate,time,time_form,speed,long,lat
0,2017-07-05,2017-07-05 13:35:37,2017-07-05 13:35:37,1,1,24.3,0.0,85,0,00:00:00,0.00,24.623962,59.442823
14,2017-07-05,2017-07-05 13:35:37,2017-07-05 13:36:12,1,1,22.3,105.9,109,35,00:00:35,12.66,24.622399,59.443344
27,2017-07-05,2017-07-05 13:35:37,2017-07-05 13:36:42,1,1,21.9,210.5,120,65,00:01:05,7.68,24.621295,59.444071
34,2017-07-05,2017-07-05 13:35:37,2017-07-05 13:37:15,1,1,20.9,326.2,117,98,00:01:38,12.42,24.619629,59.444661
39,2017-07-05,2017-07-05 13:35:37,2017-07-05 13:37:45,1,1,19.4,439.2,116,128,00:02:08,13.86,24.618034,59.445264

In [36]:
# Transform the list of dicts into a json file
with open('../app/interactive_map/trimmed_active.json', 'w') as outfile:  
    json.dump(create_json(df_trim), outfile)

## Correct data issues with day#25

In [37]:
df_trim[df_trim['day_no']==25]

,day,act_startDate,timestamp,day_no,iter_no,altitude,distance,heartrate,time,time_form,speed,long,lat
128226,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:43:01,25,2,61.9,22117.2,109,4519,01:15:19,0.000000,27.682136,42.968049
128240,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:43:31,25,2,65.1,22201.2,128,4549,01:15:49,9.360000,27.681912,42.967371
128248,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:44:05,25,2,69.2,22302.3,132,4583,01:16:23,10.851429,27.681585,42.966496
128254,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:44:41,25,2,73.4,22418.5,132,4619,01:16:59,11.622857,27.681130,42.965508
128259,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:45:13,25,2,76.8,22521.7,133,4651,01:17:31,11.931429,27.680817,42.964610
128264,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:45:45,25,2,80.0,22629.7,133,4683,01:18:03,11.777143,27.680559,42.963663
128270,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:46:19,25,2,82.6,22752.1,129,4717,01:18:37,14.040000,27.680646,42.962564
128276,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:46:52,25,2,82.8,22879.0,127,4750,01:19:10,13.140000,27.680557,42.961425
128285,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:47:24,25,2,80.0,23033.8,117,4782,01:19:42,23.160000,27.680513,42.960037
128296,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:47:55,25,2,70.4,23282.4,110,4813,01:20:13,34.200000,27.680497,42.957802
128308,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:48:27,25,2,72.9,23552.6,125,4845,01:20:45,17.280000,27.679055,42.955819
128318,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:48:58,25,2,77.7,23656.3,126,4876,01:21:16,10.080000,27.678131,42.955178
128327,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:49:30,25,2,82.1,23752.3,132,4908,01:21:48,10.748571,27.677280,42.954583
128332,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:50:04,25,2,84.6,23859.4,135,4942,01:22:22,12.420000,27.676307,42.953937
128337,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:50:34,25,2,86.8,23962.5,132,4972,01:22:52,12.360000,27.675367,42.953320
128344,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:51:09,25,2,88.5,24096.1,126,5007,01:23:27,13.320000,27.674132,42.952547
128349,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:51:40,25,2,90.0,24200.6,128,5038,01:23:58,12.180000,27.672898,42.952306
128355,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:52:12,25,2,90.4,24324.6,131,5070,01:24:30,14.976000,27.671717,42.951620
128363,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:52:42,25,2,83.8,24464.5,116,5100,01:25:00,17.568000,27.670658,42.950636
128376,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:53:13,25,2,70.1,24758.6,118,5131,01:25:31,45.360000,27.672619,42.948718
128392,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:53:44,25,2,71.7,24984.4,143,5162,01:26:02,9.000000,27.671899,42.946915
128411,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:54:14,25,2,76.5,25047.2,133,5192,01:26:32,9.000000,27.671228,42.946659
128424,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:54:48,25,2,82.3,25120.0,139,5226,01:27:06,6.210000,27.670562,42.946234
128428,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:55:22,25,2,87.8,25188.6,136,5260,01:27:40,7.452000,27.669925,42.945835
128432,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:55:52,25,2,92.9,25254.5,128,5290,01:28:10,7.875000,27.669349,42.945428
128441,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:56:22,25,2,98.4,25319.7,143,5320,01:28:40,9.288000,27.668808,42.945009
128446,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:56:53,25,2,103.7,25400.9,137,5351,01:29:11,9.225000,27.668547,42.944312
128453,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:57:23,25,2,108.7,25510.7,131,5381,01:29:41,14.040000,27.668187,42.943362
128459,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:57:57,25,2,113.5,25616.3,134,5415,01:30:15,12.060000,27.667566,42.942534
128464,2017-07-29,2017-07-29 06:43:01,2017-07-29 06:58:29,25,2,118.8,25704.4,147,5447,01:30:47,9.000000,27.666788,42.941989
...,...,...,...,...,...,...,...,...,...,...,...,...,...
133484,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:46:21,25,4,44.1,100658.5,150,20617,05:43:37,11.674286,27.632206,42.442742
133489,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:46:52,25,4,47.2,100767.6,146,20648,05:44:08,12.120000,27.632943,42.441927
133495,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:47:26,25,4,47.9,100901.2,142,20682,05:44:42,16.272000,27.633889,42.440951
133502,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:47:56,25,4,46.3,101050.3,137,20712,05:45:12,16.416000,27.634932,42.439855
133507,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:48:26,25,4,46.3,101068.9,128,20742,05:45:42,3.960000,27.634876,42.439839
133514,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:48:58,25,4,46.9,101081.9,110,20774,05:46:14,2.200000,27.634818,42.439904
133518,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:49:36,25,4,46.5,101091.4,109,20812,05:46:52,0.169412,27.634894,42.439862
133522,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:50:28,25,4,44.0,101094.4,103,20864,05:47:44,0.168000,27.634882,42.439845
133523,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:51:08,25,4,44.0,101097.8,106,20904,05:48:24,0.306000,27.634843,42.439836
133528,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:51:39,25,4,43.0,101207.8,102,20935,05:48:55,21.600000,27.635623,42.439033
133540,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:52:11,25,4,37.2,101441.3,101,20967,05:49:27,28.440000,27.636876,42.437168
133553,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:52:42,25,4,32.9,101715.9,108,20998,05:49:58,35.400000,27.637358,42.434729
133564,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:53:14,25,4,26.6,102023.7,105,21030,05:50:30,34.320000,27.638445,42.432087
133575,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:53:45,25,4,21.0,102326.2,108,21061,05:51:01,35.160000,27.639614,42.429511
133591,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:54:16,25,4,15.6,102634.0,115,21092,05:51:32,34.440000,27.640425,42.426811
133602,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:54:47,25,4,10.2,102922.8,114,21123,05:52:03,32.160000,27.641208,42.424283
133613,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:55:17,25,4,8.4,103165.6,119,21153,05:52:33,29.640000,27.641913,42.422165
133624,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:55:48,25,4,8.3,103422.4,122,21184,05:53:04,28.440000,27.642690,42.419931
133636,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:56:19,25,4,8.3,103649.5,136,21215,05:53:35,25.560000,27.643449,42.417970
133646,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:56:50,25,4,8.4,103863.7,137,21246,05:54:06,23.670000,27.644459,42.416197
133657,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:57:22,25,4,8.4,104110.3,122,21278,05:54:38,29.160000,27.645917,42.414263
133667,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:57:52,25,4,6.4,104351.1,123,21308,05:55:08,25.200000,27.647605,42.412495
133677,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:58:22,25,4,6.4,104572.2,133,21338,05:55:38,24.120000,27.649296,42.410950
133686,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:58:54,25,4,6.5,104779.7,135,21370,05:56:10,21.330000,27.650873,42.409494
133695,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:59:25,25,4,6.6,104987.4,132,21401,05:56:41,25.560000,27.652469,42.408047
133705,2017-07-29,2017-07-29 13:02:57,2017-07-29 13:59:55,25,4,6.6,105211.4,123,21431,05:57:11,27.240000,27.654436,42.406660
133716,2017-07-29,2017-07-29 13:02:57,2017-07-29 14:00:26,25,4,6.7,105439.0,133,21462,05:57:42,25.200000,27.656805,42.405608
133726,2017-07-29,2017-07-29 13:02:57,2017-07-29 14:00:56,25,4,6.7,105658.8,128,21492,05:58:12,28.200000,27.659359,42.405042
133736,2017-07-29,2017-07-29 13:02:57,2017-07-29 14:01:26,25,4,6.8,105888.3,136,21522,05:58:42,25.800000,27.662120,42.404759
133747,2017-07-29,2017-07-29 13:02:57,2017-07-29 14:01:58,25,4,5.0,106124.3,130,21554,05:59:14,26.040000,27.664976,42.404941

# Corrections

There has been an issue after transforming commulative distances. Day#25 (29/07/2017) had a duplicate activity and the graphs mismatch. The duplicates have been manually excluded from the trimmed json file.

# Discussion

The idea from now on is to have two different dataframe, one for the totals and one for the activities.    
Concerning the **totals**:

* Merge ttl_speed_df and alt_ttl_df on key day in order to have the total elevation gain, speed, max speed and active HR per day
* Rename each column of the new dataframe from above to blabla_angelos
* Then merge Andreas and Angelos dataframes to a single CSV with all data included

Concerning the **activities**:

* Make sure what are the columns we actually need for the D3 and minimize it(with the trimmer above) if needed in order to have the lowest possible size for javascript to not lag.
* Identify the columns that will be andreas and angelos different (probably active HR and speed)