## Load Libraries

In [1]:
import pandas as pd
import numpy as np

# Load sleep csv

In [2]:
# Load it into a Dataframe using pandas
path = 'python_data/garmin_sleep.csv'
df = pd.read_csv(path)
df.head()

            Sleep Time
NaN    Hrs         Hrs
Apr 22 8.1    8:08 hrs
Apr 23 11.4  11:24 hrs
Apr 24 8.5    8:29 hrs
Apr 25 8.6    8:37 hrs

## Useful functions

In [3]:
# Modify the date to look like the rest
def dayTransformer(s):
    month = s.split(' ')[0]
    day = s.split(' ')[1]
    year = '2017'
    
    if month=='Jan':
        month='01'
    elif month=='Feb':
        month='02'
    elif month=='Mar':
        month='03'
    elif month=='Apr':
        month='04'
    elif month=='May':
        month='05'
    elif month=='Jun':
        month='06'
    elif month=='Jul':
        month='07'
    elif month=='Aug':
        month='08'
    elif month=='Sep':
        month='09'
    elif month=='Oct':
        month='10'
    elif month=='Nov':
        month='11'
    elif month=='Dec':
        month='12'
    
    if len(day)<2:
        day = '0'+day
        
    return year+'-'+month+'-'+day

In [4]:
# Remove 'hrs' from sleep_duration
def removeItem(s):
    hrs = s.split(' ')[0]
    hr = hrs.split(':')[0]
    mm = hrs.split(':')[1]
    if len(hr)<2:
        hr = '0'+hr
    return hr+':'+mm

In [5]:
# Transform hh:mm to minutes
def hoursToMins(s):
    hr = int(s.split(':')[0])
    mm = int(s.split(':')[1])
    
    return str(hr*60 + mm)

### Modify sleep data

In [6]:
# Drop first line
df = df.iloc[1:].reset_index()

# Rename the column
df.rename(columns={'level_1': 'sleep_min','level_0': 'day','Sleep Time': 'sleep_duration' }, inplace=True)

# Transform day to (YYYY-MM-DD) format
df['day'] = df['day'].apply(lambda x: dayTransformer(x))

# Remove hrs string and add a zero digit on hours
df['sleep_duration']=df['sleep_duration'].apply(lambda x: removeItem(x))

# Create a minutes column that calculates the total number of minutes
df['sleep_min']=df['sleep_duration'].apply(lambda x: hoursToMins(x))

In [7]:
df

           day sleep_min sleep_duration
0   2017-04-22       488          08:08
1   2017-04-23       684          11:24
2   2017-04-24       509          08:29
3   2017-04-25       517          08:37
4   2017-04-26       497          08:17
5   2017-04-27       455          07:35
6   2017-04-28       645          10:45
7   2017-04-29       672          11:12
8   2017-04-30       683          11:23
9   2017-05-01       627          10:27
10  2017-05-02       740          12:20
11  2017-05-03       651          10:51
12  2017-05-04       661          11:01
13  2017-05-05       427          07:07
14  2017-05-06       561          09:21
15  2017-05-07       527          08:47
16  2017-05-08       472          07:52
17  2017-05-09       470          07:50
18  2017-05-10       475          07:55
19  2017-05-11       867          14:27
20  2017-05-13       673          11:13
21  2017-05-14       601          10:01
22  2017-05-15       627          10:27
23  2017-05-16       814          13:34
24  2017-05-17       797          13:17
25  2017-05-18       350          05:50
26  2017-05-21       504          08:24

# Load HR csv

In [8]:
# Load it into a Dataframe using pandas
path_2 = 'python_data/garmin_HR.csv'
df_2 = pd.read_csv(path_2)
df_2.head()

       Resting Heart Rate
NaN                   bpm
Apr 30                 71
May 7                  68
May 14                 73

### Modify HR data

In [9]:
# Drop first line
df_2 = df_2.iloc[1:].reset_index()

# Rename the columns
df_2.rename(columns={'index': 'day','Resting Heart Rate': 'rest_HR',}, inplace=True)

# Transform day to (YYYY-MM-DD) format
df_2['day'] = df_2['day'].apply(lambda x: dayTransformer(x))

In [10]:
df_2

          day rest_HR
0  2017-04-30      71
1  2017-05-07      68
2  2017-05-14      73

# Discussion

The idea from now on is to:
* Rename each column (except from day) to blabla_angelos
* Merge HR with sleep dataframes
* Then merge Andreas and Angelos dataframe to a single CSV with all data included