## Load Libraries

In [1]:
import pandas as pd
import numpy as np

## Load total CSV after downloading from STRAVA API

In [2]:
# Load it into a Dataframe using pandas
path = 'RideData_20170508211642.csv'
df = pd.read_csv(path)
df.head()

,act_startDate,timestamp,act_id,act_name,altitude,distance,grade_smooth,heartrate,moving,time,velocity_smooth,lat,long
0,2017-03-27 06:52:47+00:00,2017-03-27 06:52:47+00:00,916298883,Morning Ride,8.0,0.0,3.2,NaN,False,0,0.0,55.674874,12.592714
1,2017-03-27 06:52:47+00:00,2017-03-27 06:52:57+00:00,916298883,Morning Ride,8.0,4.4,5.1,NaN,True,10,0.4,55.674910,12.592685
2,2017-03-27 06:52:47+00:00,2017-03-27 06:52:59+00:00,916298883,Morning Ride,8.3,9.3,5.4,NaN,True,12,0.8,55.674938,12.592625
3,2017-03-27 06:52:47+00:00,2017-03-27 06:53:01+00:00,916298883,Morning Ride,8.8,15.6,6.3,NaN,True,14,1.1,55.674979,12.592555
4,2017-03-27 06:52:47+00:00,2017-03-27 06:53:02+00:00,916298883,Morning Ride,9.0,18.6,6.0,NaN,True,15,2.8,55.674997,12.592519

## Useful Functions

In [3]:
# Trim data per specific time threshold
def f(s, thresh):
    cur = None
    for i, v in s.iteritems():
        if (cur is None) or (v - cur >= thresh):
            yield i
            cur = v

## Modify the data

In [10]:
# Convert to act_StartDate to datetime
df['act_startDate'] = pd.to_datetime(df['act_startDate'])
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Keep only date as a period in a seperate column
df['day'] = pd.DatetimeIndex(df['act_startDate']).to_period('D')

# Sort df by ascending day and timestamp
df = df.sort_values(by=['day','timestamp'],ascending=[True,True])

# Check main df
df.head()

,act_startDate,timestamp,act_id,act_name,altitude,distance,grade_smooth,heartrate,moving,time,velocity_smooth,lat,long,day,day_no,iter_no
0,2017-03-27 06:52:47,2017-03-27 06:52:47,916298883,Morning Ride,8.0,0.0,3.2,NaN,False,0,0.0,55.674874,12.592714,2017-03-27,1,1
1,2017-03-27 06:52:47,2017-03-27 06:52:57,916298883,Morning Ride,8.0,4.4,5.1,NaN,True,10,0.4,55.674910,12.592685,2017-03-27,1,1
2,2017-03-27 06:52:47,2017-03-27 06:52:59,916298883,Morning Ride,8.3,9.3,5.4,NaN,True,12,0.8,55.674938,12.592625,2017-03-27,1,1
3,2017-03-27 06:52:47,2017-03-27 06:53:01,916298883,Morning Ride,8.8,15.6,6.3,NaN,True,14,1.1,55.674979,12.592555,2017-03-27,1,1
4,2017-03-27 06:52:47,2017-03-27 06:53:02,916298883,Morning Ride,9.0,18.6,6.0,NaN,True,15,2.8,55.674997,12.592519,2017-03-27,1,1

## Create a day number flag for keeping track of the trip days    
## Create an iteration number flag for keeping track of activities per day

In [11]:
# Create helper dataframe with unique days
df_helper = df.groupby(by=['day','act_id']).count().iloc[:,0].reset_index().filter(items=['day','act_id'])

# Create columns for iter_no(per activity) and day_no(per day)
days = list(set(df_helper['day']))
days.sort()
day_no = list()
iter_no = list()
for index,day in enumerate(days):
    counter=1
    for dfday in df_helper['day']:
        if dfday == day:
            iter_no.append(counter)
            day_no.append(index+1)
            counter+=1

df_helper['day_no'] = pd.Series(day_no).values
df_helper['iter_no'] = pd.Series(iter_no).values      

df_helper

         day     act_id  day_no  iter_no
0 2017-03-27  916298883       1        1
1 2017-03-27  916806776       1        2
2 2017-04-01  923496071       2        1
3 2017-04-03  926539428       3        1
4 2017-04-06  930641527       4        1
5 2017-04-07  931935227       5        1
6 2017-04-11  937765185       6        1
7 2017-05-01  966163233       7        1
8 2017-05-01  966417205       7        2

In [12]:
# Merge flagger with the main dataframe
df = pd.merge(df,df_helper,on=['day','act_id'])

# Check main df
df.head()

,act_startDate,timestamp,act_id,act_name,altitude,distance,grade_smooth,heartrate,moving,time,velocity_smooth,lat,long,day,day_no_x,iter_no_x,day_no_y,iter_no_y
0,2017-03-27 06:52:47,2017-03-27 06:52:47,916298883,Morning Ride,8.0,0.0,3.2,NaN,False,0,0.0,55.674874,12.592714,2017-03-27,1,1,1,1
1,2017-03-27 06:52:47,2017-03-27 06:52:57,916298883,Morning Ride,8.0,4.4,5.1,NaN,True,10,0.4,55.674910,12.592685,2017-03-27,1,1,1,1
2,2017-03-27 06:52:47,2017-03-27 06:52:59,916298883,Morning Ride,8.3,9.3,5.4,NaN,True,12,0.8,55.674938,12.592625,2017-03-27,1,1,1,1
3,2017-03-27 06:52:47,2017-03-27 06:53:01,916298883,Morning Ride,8.8,15.6,6.3,NaN,True,14,1.1,55.674979,12.592555,2017-03-27,1,1,1,1
4,2017-03-27 06:52:47,2017-03-27 06:53:02,916298883,Morning Ride,9.0,18.6,6.0,NaN,True,15,2.8,55.674997,12.592519,2017-03-27,1,1,1,1

## Trim data points if they are too many to be handled by D3

In [13]:
df_trim = df.loc[list(f(df['timestamp'], pd.to_timedelta(30, 's')))]

In [14]:
# Check if the trimming is correct
df_trim.head()

,act_startDate,timestamp,act_id,act_name,altitude,distance,grade_smooth,heartrate,moving,time,velocity_smooth,lat,long,day,day_no_x,iter_no_x,day_no_y,iter_no_y
0,2017-03-27 06:52:47,2017-03-27 06:52:47,916298883,Morning Ride,8.0,0.0,3.2,NaN,False,0,0.0,55.674874,12.592714,2017-03-27,1,1,1,1
18,2017-03-27 06:52:47,2017-03-27 06:53:17,916298883,Morning Ride,7.9,88.9,0.0,NaN,True,30,4.1,55.675395,12.592052,2017-03-27,1,1,1,1
48,2017-03-27 06:52:47,2017-03-27 06:53:47,916298883,Morning Ride,3.9,283.2,0.9,NaN,True,60,7.0,55.676493,12.594387,2017-03-27,1,1,1,1
65,2017-03-27 06:52:47,2017-03-27 06:54:17,916298883,Morning Ride,1.0,500.0,1.5,NaN,True,90,6.7,55.677439,12.597199,2017-03-27,1,1,1,1
90,2017-03-27 06:52:47,2017-03-27 06:54:47,916298883,Morning Ride,6.7,650.3,4.2,NaN,True,120,6.6,55.678280,12.596714,2017-03-27,1,1,1,1

## Show statistics per day

Create cumulative distance when changing activity
- Keep the last row of each iteration of the same day and add its number to all the rest of the next day and do the same for the next activity

Create total elevation per day by summing the absolute difference between each consecutive point way before trimming.

In [8]:
df

,act_startDate,timestamp,act_id,act_name,altitude,distance,grade_smooth,heartrate,moving,time,velocity_smooth,lat,long,day,day_no,iter_no
0,2017-03-27 06:52:47,2017-03-27 06:52:47+00:00,916298883,Morning Ride,8.0,0.0,3.2,NaN,False,0,0.0,55.674874,12.592714,2017-03-27,1,1
1,2017-03-27 06:52:47,2017-03-27 06:52:57+00:00,916298883,Morning Ride,8.0,4.4,5.1,NaN,True,10,0.4,55.674910,12.592685,2017-03-27,1,1
2,2017-03-27 06:52:47,2017-03-27 06:52:59+00:00,916298883,Morning Ride,8.3,9.3,5.4,NaN,True,12,0.8,55.674938,12.592625,2017-03-27,1,1
3,2017-03-27 06:52:47,2017-03-27 06:53:01+00:00,916298883,Morning Ride,8.8,15.6,6.3,NaN,True,14,1.1,55.674979,12.592555,2017-03-27,1,1
4,2017-03-27 06:52:47,2017-03-27 06:53:02+00:00,916298883,Morning Ride,9.0,18.6,6.0,NaN,True,15,2.8,55.674997,12.592519,2017-03-27,1,1
5,2017-03-27 06:52:47,2017-03-27 06:53:03+00:00,916298883,Morning Ride,9.1,21.8,3.4,NaN,True,16,2.9,55.675019,12.592488,2017-03-27,1,1
6,2017-03-27 06:52:47,2017-03-27 06:53:04+00:00,916298883,Morning Ride,9.3,26.1,1.7,NaN,True,17,3.4,55.675047,12.592440,2017-03-27,1,1
7,2017-03-27 06:52:47,2017-03-27 06:53:05+00:00,916298883,Morning Ride,9.3,30.1,0.5,NaN,True,18,3.5,55.675072,12.592395,2017-03-27,1,1
8,2017-03-27 06:52:47,2017-03-27 06:53:06+00:00,916298883,Morning Ride,9.3,36.5,-1.9,NaN,True,19,4.2,55.675122,12.592342,2017-03-27,1,1
9,2017-03-27 06:52:47,2017-03-27 06:53:07+00:00,916298883,Morning Ride,9.2,41.3,-3.0,NaN,True,20,4.5,55.675138,12.592270,2017-03-27,1,1
10,2017-03-27 06:52:47,2017-03-27 06:53:08+00:00,916298883,Morning Ride,8.9,47.7,-3.9,NaN,True,21,5.2,55.675154,12.592173,2017-03-27,1,1
11,2017-03-27 06:52:47,2017-03-27 06:53:09+00:00,916298883,Morning Ride,8.6,53.3,-4.6,NaN,True,22,5.4,55.675188,12.592107,2017-03-27,1,1
12,2017-03-27 06:52:47,2017-03-27 06:53:10+00:00,916298883,Morning Ride,8.4,59.7,-4.4,NaN,True,23,5.9,55.675230,12.592037,2017-03-27,1,1
13,2017-03-27 06:52:47,2017-03-27 06:53:11+00:00,916298883,Morning Ride,8.2,63.0,-3.6,NaN,True,24,5.3,55.675241,12.591989,2017-03-27,1,1
14,2017-03-27 06:52:47,2017-03-27 06:53:12+00:00,916298883,Morning Ride,8.0,68.2,-2.6,NaN,True,25,5.4,55.675257,12.591910,2017-03-27,1,1
15,2017-03-27 06:52:47,2017-03-27 06:53:14+00:00,916298883,Morning Ride,7.9,73.0,-1.4,NaN,True,27,3.9,55.675299,12.591892,2017-03-27,1,1
16,2017-03-27 06:52:47,2017-03-27 06:53:15+00:00,916298883,Morning Ride,7.9,78.9,-0.5,NaN,True,28,3.8,55.675316,12.591981,2017-03-27,1,1
17,2017-03-27 06:52:47,2017-03-27 06:53:16+00:00,916298883,Morning Ride,7.9,84.3,0.0,NaN,True,29,4.3,55.675360,12.592014,2017-03-27,1,1
18,2017-03-27 06:52:47,2017-03-27 06:53:17+00:00,916298883,Morning Ride,7.9,88.9,0.0,NaN,True,30,4.1,55.675395,12.592052,2017-03-27,1,1
19,2017-03-27 06:52:47,2017-03-27 06:53:18+00:00,916298883,Morning Ride,7.9,94.2,0.0,NaN,True,31,4.3,55.675438,12.592091,2017-03-27,1,1
20,2017-03-27 06:52:47,2017-03-27 06:53:19+00:00,916298883,Morning Ride,7.9,101.5,0.0,NaN,True,32,5.7,55.675485,12.592171,2017-03-27,1,1
21,2017-03-27 06:52:47,2017-03-27 06:53:20+00:00,916298883,Morning Ride,7.9,107.3,0.0,NaN,True,33,5.7,55.675522,12.592237,2017-03-27,1,1
22,2017-03-27 06:52:47,2017-03-27 06:53:21+00:00,916298883,Morning Ride,7.9,113.4,0.4,NaN,True,34,5.8,55.675566,12.592295,2017-03-27,1,1
23,2017-03-27 06:52:47,2017-03-27 06:53:22+00:00,916298883,Morning Ride,7.9,120.3,-0.4,NaN,True,35,6.3,55.675620,12.592349,2017-03-27,1,1
24,2017-03-27 06:52:47,2017-03-27 06:53:23+00:00,916298883,Morning Ride,8.0,127.1,-1.5,NaN,True,36,6.6,55.675664,12.592426,2017-03-27,1,1
25,2017-03-27 06:52:47,2017-03-27 06:53:24+00:00,916298883,Morning Ride,7.8,134.2,-2.3,NaN,True,37,6.5,55.675705,12.592511,2017-03-27,1,1
26,2017-03-27 06:52:47,2017-03-27 06:53:25+00:00,916298883,Morning Ride,7.5,140.6,-3.4,NaN,True,38,6.7,55.675741,12.592591,2017-03-27,1,1
27,2017-03-27 06:52:47,2017-03-27 06:53:26+00:00,916298883,Morning Ride,7.3,146.6,-4.0,NaN,True,39,6.6,55.675772,12.592670,2017-03-27,1,1
28,2017-03-27 06:52:47,2017-03-27 06:53:27+00:00,916298883,Morning Ride,7.1,153.6,-5.8,NaN,True,40,6.7,55.675814,12.592752,2017-03-27,1,1
29,2017-03-27 06:52:47,2017-03-27 06:53:28+00:00,916298883,Morning Ride,6.9,156.7,-7.2,NaN,True,41,5.9,55.675837,12.592782,2017-03-27,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10386,2017-05-01 16:38:38,2017-05-01 17:03:35+00:00,966417205,Evening Ride,106.0,10840.5,-0.7,121.0,True,1497,3.1,37.993172,23.741138,2017-05-01,7,2
10387,2017-05-01 16:38:38,2017-05-01 17:03:36+00:00,966417205,Evening Ride,106.0,10842.2,0.2,124.0,True,1498,2.3,37.993187,23.741142,2017-05-01,7,2
10388,2017-05-01 16:38:38,2017-05-01 17:03:44+00:00,966417205,Evening Ride,105.5,10866.2,-2.2,132.0,True,1506,2.9,37.993392,23.741228,2017-05-01,7,2
10389,2017-05-01 16:38:38,2017-05-01 17:03:45+00:00,966417205,Evening Ride,105.4,10870.5,-2.7,136.0,True,1507,3.1,37.993430,23.741238,2017-05-01,7,2
10390,2017-05-01 16:38:38,2017-05-01 17:03:46+00:00,966417205,Evening Ride,105.2,10876.8,-3.0,142.0,True,1508,3.5,37.993485,23.741250,2017-05-01,7,2
10391,2017-05-01 16:38:38,2017-05-01 17:03:50+00:00,966417205,Evening Ride,104.4,10902.5,-3.2,143.0,True,1512,6.4,37.993713,23.741299,2017-05-01,7,2
10392,2017-05-01 16:38:38,2017-05-01 17:03:55+00:00,966417205,Evening Ride,104.3,10906.6,-3.1,147.0,True,1517,3.3,37.993750,23.741293,2017-05-01,7,2
10393,2017-05-01 16:38:38,2017-05-01 17:03:58+00:00,966417205,Evening Ride,104.1,10910.8,-3.6,144.0,True,1520,1.0,37.993786,23.741286,2017-05-01,7,2
10394,2017-05-01 16:38:38,2017-05-01 17:04:01+00:00,966417205,Evening Ride,104.0,10914.9,-3.6,140.0,True,1523,1.4,37.993823,23.741280,2017-05-01,7,2
10395,2017-05-01 16:38:38,2017-05-01 17:04:06+00:00,966417205,Evening Ride,103.8,10919.0,-3.6,136.0,True,1528,1.0,37.993860,23.741273,2017-05-01,7,2
10396,2017-05-01 16:38:38,2017-05-01 17:04:09+00:00,966417205,Evening Ride,103.7,10923.1,-3.6,132.0,True,1531,1.0,37.993897,23.741267,2017-05-01,7,2
10397,2017-05-01 16:38:38,2017-05-01 17:04:11+00:00,966417205,Evening Ride,103.5,10927.3,-3.6,128.0,True,1533,1.7,37.993933,23.741260,2017-05-01,7,2
10398,2017-05-01 16:38:38,2017-05-01 17:04:12+00:00,966417205,Evening Ride,103.4,10931.4,-4.2,131.0,True,1534,2.1,37.993970,23.741254,2017-05-01,7,2
10399,2017-05-01 16:38:38,2017-05-01 17:04:13+00:00,966417205,Evening Ride,103.2,10935.5,-4.8,134.0,True,1535,2.4,37.994007,23.741247,2017-05-01,7,2
10400,2017-05-01 16:38:38,2017-05-01 17:04:15+00:00,966417205,Evening Ride,103.0,10939.6,-6.1,141.0,True,1537,2.8,37.994044,23.741241,2017-05-01,7,2
10401,2017-05-01 16:38:38,2017-05-01 17:04:17+00:00,966417205,Evening Ride,102.7,10943.8,-6.7,144.0,True,1539,2.5,37.994080,23.741234,2017-05-01,7,2
10402,2017-05-01 16:38:38,2017-05-01 17:04:18+00:00,966417205,Evening Ride,102.4,10947.9,-4.8,147.0,True,1540,2.5,37.994117,23.741228,2017-05-01,7,2
10403,2017-05-01 16:38:38,2017-05-01 17:04:20+00:00,966417205,Evening Ride,102.1,10952.0,-1.8,142.0,True,1542,2.5,37.994154,23.741221,2017-05-01,7,2
10404,2017-05-01 16:38:38,2017-05-01 17:04:21+00:00,966417205,Evening Ride,102.2,10956.1,0.6,142.0,True,1543,2.8,37.994191,23.741215,2017-05-01,7,2
10405,2017-05-01 16:38:38,2017-05-01 17:04:24+00:00,966417205,Evening Ride,102.4,10960.3,1.4,138.0,True,1546,2.1,37.994227,23.741208,2017-05-01,7,2
10406,2017-05-01 16:38:38,2017-05-01 17:04:25+00:00,966417205,Evening Ride,102.5,10964.4,6.3,138.0,True,1547,2.5,37.994264,23.741202,2017-05-01,7,2
10407,2017-05-01 16:38:38,2017-05-01 17:04:28+00:00,966417205,Evening Ride,104.8,11149.9,6.3,138.0,True,1550,2.5,37.995915,23.740911,2017-05-01,7,2
10408,2017-05-01 16:38:38,2017-05-01 17:04:43+00:00,966417205,Evening Ride,115.7,11168.9,7.5,138.0,True,1565,11.4,37.996086,23.740910,2017-05-01,7,2
10409,2017-05-01 16:38:38,2017-05-01 17:04:44+00:00,966417205,Evening Ride,115.7,11172.5,32.8,138.0,True,1566,1.4,37.996117,23.740900,2017-05-01,7,2
10410,2017-05-01 16:38:38,2017-05-01 17:04:50+00:00,966417205,Evening Ride,119.7,11193.0,13.7,143.0,True,1572,3.4,37.996301,23.740885,2017-05-01,7,2
10411,2017-05-01 16:38:38,2017-05-01 17:04:51+00:00,966417205,Evening Ride,120.1,11196.6,14.6,147.0,True,1573,3.4,37.996332,23.740893,2017-05-01,7,2
10412,2017-05-01 16:38:38,2017-05-01 17:04:56+00:00,966417205,Evening Ride,121.0,11207.7,8.2,145.0,True,1578,2.5,37.996380,23.740781,2017-05-01,7,2
10413,2017-05-01 16:38:38,2017-05-01 17:04:58+00:00,966417205,Evening Ride,121.3,11210.9,7.5,142.0,True,1580,2.0,37.996394,23.740750,2017-05-01,7,2
10414,2017-05-01 16:38:38,2017-05-01 17:05:04+00:00,966417205,Evening Ride,121.8,11218.7,7.0,139.0,True,1586,1.4,37.996410,23.740663,2017-05-01,7,2
10415,2017-05-01 16:38:38,2017-05-01 17:05:05+00:00,966417205,Evening Ride,121.8,11219.2,6.0,138.0,True,1587,1.2,37.996411,23.740658,2017-05-01,7,2