## Load Libraries

In [1]:
import pandas as pd
import numpy as np

## Load total CSV after downloading from STRAVA API

In [2]:
# Load it into a Dataframe using pandas
path = 'RideData_20170508211642.csv'
df = pd.read_csv(path)
df.head()

,act_startDate,timestamp,act_id,act_name,altitude,distance,grade_smooth,heartrate,moving,time,velocity_smooth,lat,long
0,2017-03-27 06:52:47+00:00,2017-03-27 06:52:47+00:00,916298883,Morning Ride,8.0,0.0,3.2,NaN,False,0,0.0,55.674874,12.592714
1,2017-03-27 06:52:47+00:00,2017-03-27 06:52:57+00:00,916298883,Morning Ride,8.0,4.4,5.1,NaN,True,10,0.4,55.674910,12.592685
2,2017-03-27 06:52:47+00:00,2017-03-27 06:52:59+00:00,916298883,Morning Ride,8.3,9.3,5.4,NaN,True,12,0.8,55.674938,12.592625
3,2017-03-27 06:52:47+00:00,2017-03-27 06:53:01+00:00,916298883,Morning Ride,8.8,15.6,6.3,NaN,True,14,1.1,55.674979,12.592555
4,2017-03-27 06:52:47+00:00,2017-03-27 06:53:02+00:00,916298883,Morning Ride,9.0,18.6,6.0,NaN,True,15,2.8,55.674997,12.592519

## Useful Functions

In [3]:
# Trim data per specific time threshold
def trimmer(time_df, thresh):
    cur = None
    for i, item in time_df.iteritems():
        if (cur is None) or (item - cur >= thresh):
            yield i
            cur = item

In [4]:
# Create a string format for the Day column
def dayConverter(s):
    # Set date formats
    time_format = "%Y-%m-%d"

    # Convert from period to string
    converted = s.strftime(time_format)
    
    return converted

In [5]:
# Add distance to all activities
def distanceEnhancer(added,x):
    return x + added

In [6]:
# Transforms seconds to hours
def secToHours(d):
    # Create the rule
    seconds = d
    minutes, seconds = divmod(seconds, 60)
    hours, minutes = divmod(minutes, 60)
    
    #Convert all to string
    seconds = str(seconds)
    minutes = str(minutes)
    hours = str(hours)
    
    #Add 0(zeros) for single digit numbers
    if len(seconds)==1:
        seconds = '0'+seconds
    if len(minutes)==1:
        minutes = '0'+minutes
    if len(hours)==1:
        hours = '0'+hours
    return hours+':'+minutes+':'+seconds

## Modify the data

In [7]:
# Convert to act_StartDate to datetime
df['act_startDate'] = pd.to_datetime(df['act_startDate'])
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Keep only date as a period in a seperate column
df['day'] = pd.DatetimeIndex(df['act_startDate']).to_period('D')

# Convert days to strings
df['day'] = df['day'].apply(lambda x: dayConverter(x))

# Sort df by ascending day and timestamp
df = df.sort_values(by=['day','timestamp'],ascending=[True,True])

# Check main df
df.head()

,act_startDate,timestamp,act_id,act_name,altitude,distance,grade_smooth,heartrate,moving,time,velocity_smooth,lat,long,day
0,2017-03-27 06:52:47,2017-03-27 06:52:47,916298883,Morning Ride,8.0,0.0,3.2,NaN,False,0,0.0,55.674874,12.592714,2017-03-27
1,2017-03-27 06:52:47,2017-03-27 06:52:57,916298883,Morning Ride,8.0,4.4,5.1,NaN,True,10,0.4,55.674910,12.592685,2017-03-27
2,2017-03-27 06:52:47,2017-03-27 06:52:59,916298883,Morning Ride,8.3,9.3,5.4,NaN,True,12,0.8,55.674938,12.592625,2017-03-27
3,2017-03-27 06:52:47,2017-03-27 06:53:01,916298883,Morning Ride,8.8,15.6,6.3,NaN,True,14,1.1,55.674979,12.592555,2017-03-27
4,2017-03-27 06:52:47,2017-03-27 06:53:02,916298883,Morning Ride,9.0,18.6,6.0,NaN,True,15,2.8,55.674997,12.592519,2017-03-27

## Create a day number flag for keeping track of the trip days    
## Create an iteration number flag for keeping track of activities per day

In [8]:
# Create helper dataframe with unique days
df_helper = df.groupby(by=['day','act_id']).count().iloc[:,0].reset_index().filter(items=['day','act_id'])

# Create columns for iter_no(per activity) and day_no(per day)
days = list(set(df_helper['day']))
days.sort()
day_no = list()
iter_no = list()
for index,day in enumerate(days):
    counter=1
    for dfday in df_helper['day']:
        if dfday == day:
            iter_no.append(counter)
            day_no.append(index+1)
            counter+=1

df_helper['day_no'] = pd.Series(day_no).values
df_helper['iter_no'] = pd.Series(iter_no).values      

df_helper

          day     act_id  day_no  iter_no
0  2017-03-27  916298883       1        1
1  2017-03-27  916806776       1        2
2  2017-04-01  923496071       2        1
3  2017-04-03  926539428       3        1
4  2017-04-06  930641527       4        1
5  2017-04-07  931935227       5        1
6  2017-04-11  937765185       6        1
7  2017-05-01  966163233       7        1
8  2017-05-01  966417205       7        2

In [9]:
# Merge flagger with the main dataframe
df = pd.merge(df,df_helper,on=['day','act_id'])

# Check main df
df.head()

,act_startDate,timestamp,act_id,act_name,altitude,distance,grade_smooth,heartrate,moving,time,velocity_smooth,lat,long,day,day_no,iter_no
0,2017-03-27 06:52:47,2017-03-27 06:52:47,916298883,Morning Ride,8.0,0.0,3.2,NaN,False,0,0.0,55.674874,12.592714,2017-03-27,1,1
1,2017-03-27 06:52:47,2017-03-27 06:52:57,916298883,Morning Ride,8.0,4.4,5.1,NaN,True,10,0.4,55.674910,12.592685,2017-03-27,1,1
2,2017-03-27 06:52:47,2017-03-27 06:52:59,916298883,Morning Ride,8.3,9.3,5.4,NaN,True,12,0.8,55.674938,12.592625,2017-03-27,1,1
3,2017-03-27 06:52:47,2017-03-27 06:53:01,916298883,Morning Ride,8.8,15.6,6.3,NaN,True,14,1.1,55.674979,12.592555,2017-03-27,1,1
4,2017-03-27 06:52:47,2017-03-27 06:53:02,916298883,Morning Ride,9.0,18.6,6.0,NaN,True,15,2.8,55.674997,12.592519,2017-03-27,1,1

## Create cumulative distance/time when changing activity

Keep the last row of each iteration of the same day and add its number to all the rest of the next day and do the same for the next activity

In [10]:
# Transform distance to cumulative distance when changing activity (per day)
for day in days:
    act_day = list(df_helper[df_helper['day']==day]['act_id'])
    if len(act_day)>1:
        last_dist = []
        last_time = []
        for i,act in enumerate(act_day):
            adding_dist = float(df[(df['day']==day) & (df['act_id']==act)]['distance'].iloc[-1:]) # +1
            adding_time = int(df[(df['day']==day) & (df['act_id']==act)]['time'].iloc[-1:]) # +1 if problem with division
            if i == 0:
                last_dist.append(adding_dist)
                last_time.append(adding_time)
            else:
                adding_dist_plus = adding_dist+last_dist[i-1]
                adding_time_plus = adding_time+last_time[i-1]
                last_dist.append(adding_dist_plus)
                last_time.append(adding_time_plus)
                df.loc[(df['day']==day) & (df['act_id']==act),'distance'] = df[(df['day']==day) & (df['act_id']==act)]['distance'].apply(
                    lambda x: distanceEnhancer(last_dist[i-1],x))
                df.loc[(df['day']==day) & (df['act_id']==act),'time'] = df[(df['day']==day) & (df['act_id']==act)]['time'].apply(
                    lambda x: distanceEnhancer(last_time[i-1],x))
        
#new = df.groupby(by=['day','act_id']).count().iloc[:,0].reset_index().filter(items=['day','act_id'])

## Create total elevation per day

Create total elevation per day by summing the absolute difference between each consecutive point way before trimming.

In [11]:
# Create total elevation per day dataframe
result = {}
for day in days:
    temp_alt_df = df[df['day'] == day]['altitude']
    deltas = []
    for i in range(len(temp_alt_df)):
        if i>0:
            delta = abs(temp_alt_df.iloc[i]-temp_alt_df.iloc[i-1])
            deltas.append(delta)
    result[day] = sum(deltas)
    
# Create dataframe from result dictionary
alt_ttl_df = pd.DataFrame(result.items(), columns=['day', 'ttl_elevation'])
alt_ttl_df

          day  ttl_elevation
0  2017-04-06          271.6
1  2017-04-07          819.0
2  2017-04-11          242.5
3  2017-04-03          455.3
4  2017-03-27          520.1
5  2017-04-01          233.0
6  2017-05-01          805.0

## Create a speed column km/h

In [12]:
# Create an empty dataframe
speed_df = pd.DataFrame(columns = ['time','distance','speed'])

# Calculate the speed by measuring the m/s times 3.6 for km/h
for day in days:
    temp_speed_df = df[df['day'] == day].filter(items = ['time','distance'])
    speed_list = []
    for i in range(len(temp_speed_df)):
        if i==0:
            speed_list.append(0)
        else:
            dist_delta = float(temp_speed_df['distance'].iloc[i]-temp_speed_df['distance'].iloc[i-1])
            time_delta = int(temp_speed_df['time'].iloc[i]-temp_speed_df['time'].iloc[i-1])
            if time_delta == 0: # handles division error
                speed = speed_list[i-1]
                speed_list.append(speed)
            else:
                speed = (dist_delta/time_delta) * 3.6
                speed_list.append(speed)
    # Add new speed column to temp_speed_df
    temp_speed_df['speed'] = np.asarray(speed_list)
    speed_df = pd.concat([temp_speed_df,speed_df])

Check if the lengths match each other

In [13]:
print len(speed_df)
print len(df)

10416
10416

In [14]:
# Merge speed_df with the main dataframe on indexes
df = df.join(speed_df['speed'], how='outer')

Make sure that the speed makes sense

In [15]:
df[df['speed']>100]

,act_startDate,timestamp,act_id,act_name,altitude,distance,grade_smooth,heartrate,moving,time,velocity_smooth,lat,long,day,day_no,iter_no,speed
10407,2017-05-01 16:38:38,2017-05-01 17:04:28,966417205,Evening Ride,104.8,20969.2,6.3,138.0,True,2994,2.5,37.995915,23.740911,2017-05-01,7,2,222.6

In [16]:
df.iloc[10405:10409]

,act_startDate,timestamp,act_id,act_name,altitude,distance,grade_smooth,heartrate,moving,time,velocity_smooth,lat,long,day,day_no,iter_no,speed
10405,2017-05-01 16:38:38,2017-05-01 17:04:24,966417205,Evening Ride,102.4,20779.6,1.4,138.0,True,2990,2.1,37.994227,23.741208,2017-05-01,7,2,5.04
10406,2017-05-01 16:38:38,2017-05-01 17:04:25,966417205,Evening Ride,102.5,20783.7,6.3,138.0,True,2991,2.5,37.994264,23.741202,2017-05-01,7,2,14.76
10407,2017-05-01 16:38:38,2017-05-01 17:04:28,966417205,Evening Ride,104.8,20969.2,6.3,138.0,True,2994,2.5,37.995915,23.740911,2017-05-01,7,2,222.60
10408,2017-05-01 16:38:38,2017-05-01 17:04:43,966417205,Evening Ride,115.7,20988.2,7.5,138.0,True,3009,11.4,37.996086,23.740910,2017-05-01,7,2,4.56

In [17]:
# Remove those lines with extremely high speed. There must be inaccurate tracking
df = df[df['speed']<100]

## Create max and average speed per day and heartbeat

In [23]:
# Create table with avg_speed
avg_speed_df = df.groupby('day').mean().reset_index().sort_values(by='day', ascending=1).filter(items=['day','speed'])

# Change column name
avg_speed_df.rename(columns={'speed': 'avg_speed'}, inplace=True)

# Create table with avg_speed
max_speed_df = df.groupby('day').max().reset_index().sort_values(by='day', ascending=1).filter(items=['day','speed'])

# Change column name
max_speed_df.rename(columns={'speed': 'max_speed'}, inplace=True)

# Merge two dfs
ttl_speed_df = pd.merge(avg_speed_df,max_speed_df,on='day')

# Create table with avg_speed
avg_heartbeat_df = df.groupby('day').mean().reset_index().sort_values(by='day', ascending=1).filter(items=['day','heartrate'])

# Change column name
avg_heartbeat_df.rename(columns={'heartrate': 'avg_heartrate'}, inplace=True)

# Merge two dfs
ttl_speed_df = pd.merge(ttl_speed_df,avg_heartbeat_df,on='day')

ttl_speed_df

          day  avg_speed  max_speed  avg_heartrate
0  2017-03-27  12.627898      52.92            NaN
1  2017-04-01   9.832409      18.00            NaN
2  2017-04-03  10.572112      37.08            NaN
3  2017-04-06  10.808719      18.36            NaN
4  2017-04-07  10.581511      41.40            NaN
5  2017-04-11   9.665677      48.60     134.161850
6  2017-05-01  26.873455      61.02     126.394024

## Create cumulative distance in string format (hours:minutes:seconds)

In [19]:
# Create column with converted seconds to hours:minutes:seconds format (string)
df['time_form'] = df['time'].apply(lambda x: secToHours(x))

## Keep only selected columns

In [20]:
df = df.filter(items=['day','act_startDate','timestamp','day_no','iter_no','altitude','distance','heartrate','time','time_form','speed','long','lat'])

In [21]:
df

,day,act_startDate,timestamp,day_no,iter_no,altitude,distance,heartrate,time,time_form,speed,long,lat
0,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:52:47,1,1,8.0,0.0,NaN,0,00:00:00,0.000,12.592714,55.674874
1,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:52:57,1,1,8.0,4.4,NaN,10,00:00:10,1.584,12.592685,55.674910
2,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:52:59,1,1,8.3,9.3,NaN,12,00:00:12,8.820,12.592625,55.674938
3,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:01,1,1,8.8,15.6,NaN,14,00:00:14,11.340,12.592555,55.674979
4,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:02,1,1,9.0,18.6,NaN,15,00:00:15,10.800,12.592519,55.674997
5,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:03,1,1,9.1,21.8,NaN,16,00:00:16,11.520,12.592488,55.675019
6,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:04,1,1,9.3,26.1,NaN,17,00:00:17,15.480,12.592440,55.675047
7,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:05,1,1,9.3,30.1,NaN,18,00:00:18,14.400,12.592395,55.675072
8,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:06,1,1,9.3,36.5,NaN,19,00:00:19,23.040,12.592342,55.675122
9,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:07,1,1,9.2,41.3,NaN,20,00:00:20,17.280,12.592270,55.675138
10,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:08,1,1,8.9,47.7,NaN,21,00:00:21,23.040,12.592173,55.675154
11,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:09,1,1,8.6,53.3,NaN,22,00:00:22,20.160,12.592107,55.675188
12,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:10,1,1,8.4,59.7,NaN,23,00:00:23,23.040,12.592037,55.675230
13,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:11,1,1,8.2,63.0,NaN,24,00:00:24,11.880,12.591989,55.675241
14,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:12,1,1,8.0,68.2,NaN,25,00:00:25,18.720,12.591910,55.675257
15,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:14,1,1,7.9,73.0,NaN,27,00:00:27,8.640,12.591892,55.675299
16,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:15,1,1,7.9,78.9,NaN,28,00:00:28,21.240,12.591981,55.675316
17,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:16,1,1,7.9,84.3,NaN,29,00:00:29,19.440,12.592014,55.675360
18,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:17,1,1,7.9,88.9,NaN,30,00:00:30,16.560,12.592052,55.675395
19,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:18,1,1,7.9,94.2,NaN,31,00:00:31,19.080,12.592091,55.675438
20,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:19,1,1,7.9,101.5,NaN,32,00:00:32,26.280,12.592171,55.675485
21,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:20,1,1,7.9,107.3,NaN,33,00:00:33,20.880,12.592237,55.675522
22,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:21,1,1,7.9,113.4,NaN,34,00:00:34,21.960,12.592295,55.675566
23,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:22,1,1,7.9,120.3,NaN,35,00:00:35,24.840,12.592349,55.675620
24,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:23,1,1,8.0,127.1,NaN,36,00:00:36,24.480,12.592426,55.675664
25,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:24,1,1,7.8,134.2,NaN,37,00:00:37,25.560,12.592511,55.675705
26,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:25,1,1,7.5,140.6,NaN,38,00:00:38,23.040,12.592591,55.675741
27,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:26,1,1,7.3,146.6,NaN,39,00:00:39,21.600,12.592670,55.675772
28,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:27,1,1,7.1,153.6,NaN,40,00:00:40,25.200,12.592752,55.675814
29,2017-03-27,2017-03-27 06:52:47,2017-03-27 06:53:28,1,1,6.9,156.7,NaN,41,00:00:41,11.160,12.592782,55.675837
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10385,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:03:26,7,2,105.3,20638.1,117.0,2932,00:48:52,15.480,23.741067,37.992985
10386,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:03:35,7,2,106.0,20659.8,121.0,2941,00:49:01,8.680,23.741138,37.993172
10387,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:03:36,7,2,106.0,20661.5,124.0,2942,00:49:02,6.120,23.741142,37.993187
10388,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:03:44,7,2,105.5,20685.5,132.0,2950,00:49:10,10.800,23.741228,37.993392
10389,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:03:45,7,2,105.4,20689.8,136.0,2951,00:49:11,15.480,23.741238,37.993430
10390,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:03:46,7,2,105.2,20696.1,142.0,2952,00:49:12,22.680,23.741250,37.993485
10391,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:03:50,7,2,104.4,20721.8,143.0,2956,00:49:16,23.130,23.741299,37.993713
10392,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:03:55,7,2,104.3,20725.9,147.0,2961,00:49:21,2.952,23.741293,37.993750
10393,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:03:58,7,2,104.1,20730.1,144.0,2964,00:49:24,5.040,23.741286,37.993786
10394,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:01,7,2,104.0,20734.2,140.0,2967,00:49:27,4.920,23.741280,37.993823
10395,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:06,7,2,103.8,20738.3,136.0,2972,00:49:32,2.952,23.741273,37.993860
10396,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:09,7,2,103.7,20742.4,132.0,2975,00:49:35,4.920,23.741267,37.993897
10397,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:11,7,2,103.5,20746.6,128.0,2977,00:49:37,7.560,23.741260,37.993933
10398,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:12,7,2,103.4,20750.7,131.0,2978,00:49:38,14.760,23.741254,37.993970
10399,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:13,7,2,103.2,20754.8,134.0,2979,00:49:39,14.760,23.741247,37.994007
10400,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:15,7,2,103.0,20758.9,141.0,2981,00:49:41,7.380,23.741241,37.994044
10401,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:17,7,2,102.7,20763.1,144.0,2983,00:49:43,7.560,23.741234,37.994080
10402,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:18,7,2,102.4,20767.2,147.0,2984,00:49:44,14.760,23.741228,37.994117
10403,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:20,7,2,102.1,20771.3,142.0,2986,00:49:46,7.380,23.741221,37.994154
10404,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:21,7,2,102.2,20775.4,142.0,2987,00:49:47,14.760,23.741215,37.994191
10405,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:24,7,2,102.4,20779.6,138.0,2990,00:49:50,5.040,23.741208,37.994227
10406,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:25,7,2,102.5,20783.7,138.0,2991,00:49:51,14.760,23.741202,37.994264
10408,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:43,7,2,115.7,20988.2,138.0,3009,00:50:09,4.560,23.740910,37.996086
10409,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:44,7,2,115.7,20991.8,138.0,3010,00:50:10,12.960,23.740900,37.996117
10410,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:50,7,2,119.7,21012.3,143.0,3016,00:50:16,12.300,23.740885,37.996301
10411,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:51,7,2,120.1,21015.9,147.0,3017,00:50:17,12.960,23.740893,37.996332
10412,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:56,7,2,121.0,21027.0,145.0,3022,00:50:22,7.992,23.740781,37.996380
10413,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:04:58,7,2,121.3,21030.2,142.0,3024,00:50:24,5.760,23.740750,37.996394
10414,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:05:04,7,2,121.8,21038.0,139.0,3030,00:50:30,4.680,23.740663,37.996410
10415,2017-05-01,2017-05-01 16:38:38,2017-05-01 17:05:05,7,2,121.8,21038.5,138.0,3031,00:50:31,1.800,23.740658,37.996411

## Extract data to a csv to check

In [38]:
df.to_csv('test.csv', index=False)

## Trim data points if they are too many to be handled by D3

In [28]:
df_trim = df.loc[list(trimmer(df['timestamp'], pd.to_timedelta(30, 's')))]

In [29]:
# Check if the trimming is correct
df_trim.head()

,act_startDate,timestamp,act_id,act_name,altitude,distance,grade_smooth,heartrate,moving,time,velocity_smooth,lat,long,day,day_no,iter_no
0,2017-03-27 06:52:47,2017-03-27 06:52:47,916298883,Morning Ride,8.0,0.0,3.2,NaN,False,0,0.0,55.674874,12.592714,2017-03-27,1,1
18,2017-03-27 06:52:47,2017-03-27 06:53:17,916298883,Morning Ride,7.9,88.9,0.0,NaN,True,30,4.1,55.675395,12.592052,2017-03-27,1,1
48,2017-03-27 06:52:47,2017-03-27 06:53:47,916298883,Morning Ride,3.9,283.2,0.9,NaN,True,60,7.0,55.676493,12.594387,2017-03-27,1,1
65,2017-03-27 06:52:47,2017-03-27 06:54:17,916298883,Morning Ride,1.0,500.0,1.5,NaN,True,90,6.7,55.677439,12.597199,2017-03-27,1,1
90,2017-03-27 06:52:47,2017-03-27 06:54:47,916298883,Morning Ride,6.7,650.3,4.2,NaN,True,120,6.6,55.678280,12.596714,2017-03-27,1,1